@import url(http://fonts.googleapis.com/css?family=Raleway:500);

body {
    background-image:url(images/bg.png);
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
}

#content {
    background-image:url(images/page-bg.png);
    background-repeat: repeat;
}

#footer {
    /*background-color:#f00;*/
}

.img-home {
    padding:1px;
    border: 1px solid #E7E5CE;
    border-radius: 5px;
    box-shadow:2px 2px 3px #aaaaaa;
}

.btn-home {
    font-size:16px;
}

.btn-home a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:1px;
}

.btn-instagram {
    background-color:#AB4455;
    color:#fff;
}

.btn-pinterest {
    background-color:#5C9282;
    color:#fff;
}

.nav-justified > li > a {
    color:#9E8870;
    font-weight:bold;
    text-transform:uppercase;
    font-size:smaller;
    letter-spacing:1px;
}