

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.logo {
    width:750px;
}

/* Wrapper for page content to push down footer */
#content {
  min-height: 100%;
  height: auto;
  width:750px;
  /* Negative indent footer by its height */
  margin: -111px auto -30px auto;
  /* Pad bottom by footer height */
  padding: 111px 0px 30px 0px;
}

#page {
    padding:0 25px 0 25px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
}

#footer-right {
    text-align:right;
    float:right;
}


.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 42px;
    padding:5px 25px 0px 25px;
  }
}

.center {
    float: none; 
    margin: 0 auto;
    text-align:center;
}

.image-cell {
    padding:5px;    
}

.col-right {
    float:right;
}

.btn-home {
    padding:15px;
    width:90%;
    border-radius:0;
}
.e {padding-bottom:5px;}