<div class="row">
    <div class="col-md-3">        
        <div class="row">
            <div class="col-md-12 center image-cell">
                <img src="~/Content/images/A.png" class="img-responsive img-home" alt="makeup" />
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 center image-cell">
                <img src="~/Content/images/B.png" class="img-responsive img-home" alt="makeup" />
            </div>
        </div>
    </div>
    <div class="col-md-9 center image-cell col-right">
        <img src="~/Content/images/C.png" class="img-responsive img-home" alt="makeup" />
    </div>
</div>
<div class="row">
    <div class="col-md-8 image-cell">
        <img src="~/Content/images/D.png" class="img-responsive img-home" alt="makeup" />
    </div>
    <div class="col-md-4 image-cell">
        <div>
            <div class="row e">
                <div class="col-md-12">
                    <img src="~/Content/images/E.png" class="img-responsive img-home" alt="makeup" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center image-cell">
                    <div class="btn btn-home btn-instagram">
                        <a href="http://instagram.com/rachelwatsonmakeup" alt="Click here to follow Rachel Watson Makeup on Instagram.">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center image-cell">
                    <div class="btn btn-home btn-pinterest">
                        <a href="http://www.pinterest.com/rubygarlan/" alt="Click here to follow Rachel Watson Makeup on Pinterest.">Pinterest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>